<h1>Welcome <%= current_user.email %></h1>

<% if current_user.blank? %>
    <%= button_to "sign in", new_user_session_path  %>
<% end %>


<ul>
    <% @posts.each do |post| %>
        <li>
            <h5><%= post.title %></h5>
            <h3><%= post.user.email %></h3>
            <%= link_to "edit", edit_post_path(post) %>
        </li>
    <% end %>
</ul>
